// Happy path
//
// Weight: 1
//
// This is what the entire flow should look like if everything works as intended.
//
// <script type="text/javascript">
//   // Poor man's forEach that works in IE11 too ;)
//   function eachDo(l, f) { for(var i=0; i < l.length; i++) { f(l[i]); } }
//
//   window.addEventListener('load', function() {
//     eachDo(document.querySelectorAll('[data-animate]'), function(section) {
//       let panels = section.querySelectorAll('.irma-web-centered');
//       eachDo(panels, function(panel) { panel.style.display = 'none'; });
//       function showPanel(panels, index) {
//         panels[index].style.display = 'block';
//         let duration = panels[index].getAttribute('data-duration');
//         let nextIndex = index + 1;
//         if ( nextIndex >= panels.length ) { nextIndex = 0; }
//         window.setTimeout(function() {
//           panels[index].style.display = 'none';
//           showPanel(panels, nextIndex);
//         }, duration);
//       }
//       showPanel(panels, 0);
//     });
//   });
// </script>
//
// Styleguide Examples.Happy path

// Desktop flow
//
// Weight: 0
//
// Markup:
// <section class="irma-web-center-child" style="/** Parent styles **/ width: 100%; height: 700px; border: 2px solid red;">
//   <section class="irma-web-form">
//     <header class="irma-web-header">
//       <p>Ga verder met <i class="irma-web-logo">IRMA</i></p>
//       <section class="irma-web-helper">
//         <p>Kom je er niet uit? Kijk dan eerst eens op <a href="https://irma.app/">de website van IRMA</a>.</p>
//       </section>
//     </header>
//     <section class="irma-web-content" data-animate>
//       <section class="irma-web-centered" data-duration="2000">
//         <div class="irma-web-loading-animation"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div>
//         <p>Eén moment alsjeblieft</p>
//       </section>
//       <section class="irma-web-centered" data-duration="5000">
//         <img class="irma-web-qr-code" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAK8AAACvAQMAAACxXBw2AAAABlBMVEX///8AAABVwtN+AAAACXBIWXMAAA7EAAAOxAGVKw4bAAADOElEQVRIx+2XP2rlMBDGx6hQE+z2FQJdQ2miq+QINmmDZfPaYF/gQa6iNNE1BCpea5NGC8Kzo3WSYtlkkdtdFQb/DPoz8+mbMcA/PSRuGuTWOPSds5gqRF+MBdQgw4w2hIlbkKOFA9hMXAYctE/GQmKji4cwnFIzIojuBTF1f8Uc6l4RsTpcqkMYag6p77UXoFR6rD5PWYApsOoqukkF0b2qcOk+412AaWgM88S93BQEXD6zXIDlL4KTxtTqiM/r+waLMDwspJOhBwTaGw2noBjLMyUNl85KNmKEe3MEs6cKeZgAkjDoAGpl/Tf4bdLXVA0q4bqpgFmfxRjMwGnuWoFcrcZ8ZXw5bnvKzrpwmeAWkYKjy7FcWpJ9X2uUg8orqQOYvW36JJqFeza+kmxJv1COcSTP6FuObEXHLg2l6ACeI0/dpAUOt5H5fg/VF1jiijxVqwseKkeBhV0nRVg8kByzoIJoNTJcdDyAb1qIvq2BUrTxgOsuzUJMQeBh6DWjwIJg8xEs31a8irpzPqwxZ2aXfRmmufFEh1OI66sOz4gfSxZgeBhUxHVSnmRPjtpy5YuxaCZF8V4p3iaSWD9s/c+YFK1Pcly0l8sdh8eW63IszxRYpJtGRSDq9Ghwd80iLMwC1+xVIdDcLDVoD2AwpFgAzsKg6EHFzRdjlqpI1ltF6ev8bY7qAD5v+ur7XgFb7jRhi+VY3FBxTd2WHxiT6N7lU4Tl22xBVPnajK9K3LfwLabjXIUZHeD6w3k5wC77MvxUK0k6USGQNNl5jg7K8XnhMQw1WRi+WP9o3G5hRZhmc9QVjFb6KtICdOfLsXyC7Fzkv7jcAWlfYzlmQ614mEeLQHPTBuNeL4uwzB0JGxeQoiWdPKPb4/0Fnjd+ClPjIIyk0UtlYzlmS4VUhidgWd/h0jhdjuGmsVefLYj8H0NAjAcwmS3KzVifW258XriGYkwvZDxtY4McdBT3nYNy/KthpU5JeZGNh3zQHcBm0jG1VBQTNazyYj6crRArKtEzBjA/LPX+oL/HnLoCpL+U5oX0OX9YbxGGOu+kiYwNd9wL89nyF+CcE8nWkXRqqFF/P00h/j9+Hz8BKgnu5v9Z8jEAAAAASUVORK5CYII="/>
//       </section>
//       <section class="irma-web-centered" data-duration="5000">
//         <div class="irma-web-waiting-for-user-animation"></div>
//         <p>Volg de instructies in de IRMA app</p>
//       </section>
//       <section class="irma-web-centered" data-duration="2000">
//         <div class="irma-web-checkmark-animation"></div>
//         <p>Gelukt!</p>
//       </section>
//     </section>
//   </section>
// </section>
//
// Styleguide Examples.Happy path.desktop

// Desktop pairing flow
//
// Weight: 1
//
// Markup:
// <section class="irma-web-center-child" style="/** Parent styles **/ width: 100%; height: 700px; border: 2px solid red;">
//   <section class="irma-web-form">
//     <header class="irma-web-header">
//       <p>Ga verder met <i class="irma-web-logo">IRMA</i></p>
//       <section class="irma-web-helper">
//         <p>Kom je er niet uit? Kijk dan eerst eens op <a href="https://irma.app/">de website van IRMA</a>.</p>
//       </section>
//     </header>
//     <section class="irma-web-content" data-animate>
//       <section class="irma-web-centered" data-duration="2000">
//         <div class="irma-web-loading-animation"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div>
//         <p>Eén moment alsjeblieft</p>
//       </section>
//       <section class="irma-web-centered" data-duration="5000">
//         <img class="irma-web-qr-code" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAK8AAACvAQMAAACxXBw2AAAABlBMVEX///8AAABVwtN+AAAACXBIWXMAAA7EAAAOxAGVKw4bAAADOElEQVRIx+2XP2rlMBDGx6hQE+z2FQJdQ2miq+QINmmDZfPaYF/gQa6iNNE1BCpea5NGC8Kzo3WSYtlkkdtdFQb/DPoz8+mbMcA/PSRuGuTWOPSds5gqRF+MBdQgw4w2hIlbkKOFA9hMXAYctE/GQmKji4cwnFIzIojuBTF1f8Uc6l4RsTpcqkMYag6p77UXoFR6rD5PWYApsOoqukkF0b2qcOk+412AaWgM88S93BQEXD6zXIDlL4KTxtTqiM/r+waLMDwspJOhBwTaGw2noBjLMyUNl85KNmKEe3MEs6cKeZgAkjDoAGpl/Tf4bdLXVA0q4bqpgFmfxRjMwGnuWoFcrcZ8ZXw5bnvKzrpwmeAWkYKjy7FcWpJ9X2uUg8orqQOYvW36JJqFeza+kmxJv1COcSTP6FuObEXHLg2l6ACeI0/dpAUOt5H5fg/VF1jiijxVqwseKkeBhV0nRVg8kByzoIJoNTJcdDyAb1qIvq2BUrTxgOsuzUJMQeBh6DWjwIJg8xEs31a8irpzPqwxZ2aXfRmmufFEh1OI66sOz4gfSxZgeBhUxHVSnmRPjtpy5YuxaCZF8V4p3iaSWD9s/c+YFK1Pcly0l8sdh8eW63IszxRYpJtGRSDq9Ghwd80iLMwC1+xVIdDcLDVoD2AwpFgAzsKg6EHFzRdjlqpI1ltF6ev8bY7qAD5v+ur7XgFb7jRhi+VY3FBxTd2WHxiT6N7lU4Tl22xBVPnajK9K3LfwLabjXIUZHeD6w3k5wC77MvxUK0k6USGQNNl5jg7K8XnhMQw1WRi+WP9o3G5hRZhmc9QVjFb6KtICdOfLsXyC7Fzkv7jcAWlfYzlmQ614mEeLQHPTBuNeL4uwzB0JGxeQoiWdPKPb4/0Fnjd+ClPjIIyk0UtlYzlmS4VUhidgWd/h0jhdjuGmsVefLYj8H0NAjAcwmS3KzVifW258XriGYkwvZDxtY4McdBT3nYNy/KthpU5JeZGNh3zQHcBm0jG1VBQTNazyYj6crRArKtEzBjA/LPX+oL/HnLoCpL+U5oX0OX9YbxGGOu+kiYwNd9wL89nyF+CcE8nWkXRqqFF/P00h/j9+Hz8BKgnu5v9Z8jEAAAAASUVORK5CYII="/>
//       </section>
//       <section class="irma-web-centered" data-duration="5000">
//         <form class="irma-web-pairing-form" onsubmit="alert('Input logic is disabled for this example')">
//           <p>Vul de koppelcode in die in jouw IRMA-app verschijnt.</p>
//           <div class="irma-web-pairing-code">
//             <input inputmode="numeric" pattern="\d" maxlength="1" required oninput="alert('Input logic is disabled for this example')" />
//             <input inputmode="numeric" pattern="\d" maxlength="1" required oninput="alert('Input logic is disabled for this example')" />
//             <input inputmode="numeric" pattern="\d" maxlength="1" required oninput="alert('Input logic is disabled for this example')" />
//             <input inputmode="numeric" pattern="\d" maxlength="1" required oninput="alert('Input logic is disabled for this example')" />
//           </div>
//           <button type="submit">
//             Volgende
//           </button>
//           <p><a>Annuleer</a></p>
//         </form>
//       </section>
//       <section class="irma-web-centered" data-duration="5000">
//         <div class="irma-web-waiting-for-user-animation"></div>
//         <p>Volg de instructies in de IRMA app</p>
//       </section>
//       <section class="irma-web-centered" data-duration="2000">
//         <div class="irma-web-checkmark-animation"></div>
//         <p>Gelukt!</p>
//       </section>
//     </section>
//   </section>
// </section>
//
// Styleguide Examples.Happy path.desktop pairing


// Mobile flow
//
// Weight: 2
//
// Markup:
// <section class="irma-web-center-child" style="/** Parent styles **/ width: 100%; height: 700px; border: 2px solid red; margin: 0 auto;">
//   <section class="irma-web-form">
//     <header class="irma-web-header">
//       <p>Ga verder met <i class="irma-web-logo">IRMA</i></p>
//       <section class="irma-web-helper">
//         <p>Kom je er niet uit? Kijk dan eerst eens op <a href="https://irma.app/">de website van IRMA</a>.</p>
//       </section>
//     </header>
//     <section class="irma-web-content" data-animate>
//       <section class="irma-web-centered" data-duration="2000">
//         <div class="irma-web-loading-animation"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div>
//         <p>Eén moment alsjeblieft</p>
//       </section>
//       <section class="irma-web-centered" data-duration="3000">
//         <button class="irma-web-button">Open IRMA app</button>
//         <p><a href="#">Toon QR code</a></p>
//       </section>
//       <section class="irma-web-centered" data-duration="2000">
//         <div class="irma-web-checkmark-animation"></div>
//         <p>Gelukt!</p>
//       </section>
//     </section>
//   </section>
// </section>
//
// Styleguide Examples.Happy path.mobile
