// States
//
// Weight: 2
//
// These examples show the different states that the disclosure flow can move
// through.
//
// Styleguide Examples.States

// State 1: Uninitialised
//
// Weight: 0
//
// Markup:
// <section class="irma-web-center-child" style="/** Parent styles **/ width: 100%; height: 700px; border: 2px solid red;">
//   <section class="irma-web-form">
//     <header class="irma-web-header">
//       <p>Ga verder met <i class="irma-web-logo">IRMA</i></p>
//       <section class="irma-web-helper">
//         <p>Kom je er niet uit? Kijk dan eerst eens op <a href="https://irma.app/">de website van IRMA</a>.</p>
//       </section>
//     </header>
//     <section class="irma-web-content">
//       <section class="irma-web-centered">
//         <div class="irma-web-loading-animation"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div>
//         <p>Eén moment alsjeblieft</p>
//       </section>
//     </section>
//   </section>
// </section>
//
// Styleguide Examples.States.Uninitialised

// State 2: Loading
//
// Weight: 1
//
// Markup:
// <section class="irma-web-center-child" style="/** Parent styles **/ width: 100%; height: 700px; border: 2px solid red;">
//   <section class="irma-web-form">
//     <header class="irma-web-header">
//       <p>Ga verder met <i class="irma-web-logo">IRMA</i></p>
//       <section class="irma-web-helper">
//         <p>Kom je er niet uit? Kijk dan eerst eens op <a href="https://irma.app/">de website van IRMA</a>.</p>
//       </section>
//     </header>
//     <section class="irma-web-content">
//       <section class="irma-web-centered">
//         <div class="irma-web-loading-animation"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div>
//         <p>Eén moment alsjeblieft</p>
//       </section>
//     </section>
//   </section>
// </section>
//
// Styleguide Examples.States.Loading

// State 3a: Showing QR code (desktop)
//
// Weight: 2
//
// Markup:
// <section class="irma-web-center-child" style="/** Parent styles **/ width: 100%; height: 700px; border: 2px solid red;">
//   <section class="irma-web-form">
//     <header class="irma-web-header">
//       <p>Ga verder met <i class="irma-web-logo">IRMA</i></p>
//       <section class="irma-web-helper">
//         <p>Kom je er niet uit? Kijk dan eerst eens op <a href="https://irma.app/">de website van IRMA</a>.</p>
//       </section>
//     </header>
//     <section class="irma-web-content">
//       <section class="irma-web-centered">
//         <img class="irma-web-qr-code" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAK8AAACvAQMAAACxXBw2AAAABlBMVEX///8AAABVwtN+AAAACXBIWXMAAA7EAAAOxAGVKw4bAAADOElEQVRIx+2XP2rlMBDGx6hQE+z2FQJdQ2miq+QINmmDZfPaYF/gQa6iNNE1BCpea5NGC8Kzo3WSYtlkkdtdFQb/DPoz8+mbMcA/PSRuGuTWOPSds5gqRF+MBdQgw4w2hIlbkKOFA9hMXAYctE/GQmKji4cwnFIzIojuBTF1f8Uc6l4RsTpcqkMYag6p77UXoFR6rD5PWYApsOoqukkF0b2qcOk+412AaWgM88S93BQEXD6zXIDlL4KTxtTqiM/r+waLMDwspJOhBwTaGw2noBjLMyUNl85KNmKEe3MEs6cKeZgAkjDoAGpl/Tf4bdLXVA0q4bqpgFmfxRjMwGnuWoFcrcZ8ZXw5bnvKzrpwmeAWkYKjy7FcWpJ9X2uUg8orqQOYvW36JJqFeza+kmxJv1COcSTP6FuObEXHLg2l6ACeI0/dpAUOt5H5fg/VF1jiijxVqwseKkeBhV0nRVg8kByzoIJoNTJcdDyAb1qIvq2BUrTxgOsuzUJMQeBh6DWjwIJg8xEs31a8irpzPqwxZ2aXfRmmufFEh1OI66sOz4gfSxZgeBhUxHVSnmRPjtpy5YuxaCZF8V4p3iaSWD9s/c+YFK1Pcly0l8sdh8eW63IszxRYpJtGRSDq9Ghwd80iLMwC1+xVIdDcLDVoD2AwpFgAzsKg6EHFzRdjlqpI1ltF6ev8bY7qAD5v+ur7XgFb7jRhi+VY3FBxTd2WHxiT6N7lU4Tl22xBVPnajK9K3LfwLabjXIUZHeD6w3k5wC77MvxUK0k6USGQNNl5jg7K8XnhMQw1WRi+WP9o3G5hRZhmc9QVjFb6KtICdOfLsXyC7Fzkv7jcAWlfYzlmQ614mEeLQHPTBuNeL4uwzB0JGxeQoiWdPKPb4/0Fnjd+ClPjIIyk0UtlYzlmS4VUhidgWd/h0jhdjuGmsVefLYj8H0NAjAcwmS3KzVifW258XriGYkwvZDxtY4McdBT3nYNy/KthpU5JeZGNh3zQHcBm0jG1VBQTNazyYj6crRArKtEzBjA/LPX+oL/HnLoCpL+U5oX0OX9YbxGGOu+kiYwNd9wL89nyF+CcE8nWkXRqqFF/P00h/j9+Hz8BKgnu5v9Z8jEAAAAASUVORK5CYII="/>
//       </section>
//     </section>
//   </section>
// </section>
//
// Styleguide Examples.States.Showing QR code

// State 3b: Showing IRMA button (mobile)
//
// Weight: 3
//
// Markup:
// <section class="irma-web-center-child" style="/** Parent styles **/ width: 100%; height: 700px; border: 2px solid red;">
//   <section class="irma-web-form">
//     <header class="irma-web-header">
//       <p>Ga verder met <i class="irma-web-logo">IRMA</i></p>
//       <section class="irma-web-helper">
//         <p>Kom je er niet uit? Kijk dan eerst eens op <a href="https://irma.app/">de website van IRMA</a>.</p>
//       </section>
//     </header>
//     <section class="irma-web-content">
//       <section class="irma-web-centered">
//         <button class="irma-web-button">Open IRMA app</button>
//         <p><a href="#">Toon QR code</a></p>
//       </section>
//     </section>
//   </section>
// </section>
//
// Styleguide Examples.States.Showing IRMA button

// State 4: Pairing
//
// Weight: 4
//
// Markup:
// <section class="irma-web-center-child" style="/** Parent styles **/ width: 100%; height: 700px; border: 2px solid red;">
//   <section class="irma-web-form">
//     <header class="irma-web-header">
//       <p>Ga verder met <i class="irma-web-logo">IRMA</i></p>
//       <section class="irma-web-helper">
//         <p>Kom je er niet uit? Kijk dan eerst eens op <a href="https://irma.app/">de website van IRMA</a>.</p>
//       </section>
//     </header>
//     <section class="irma-web-content">
//       <section class="irma-web-centered">
//         <form
//           id="pairing-form-states-example"
//           class="irma-web-pairing-form"
//           onsubmit="let code = Array.prototype.map.call(this.querySelector('.irma-web-pairing-code').children, c => c.value).join(''); alert(`We should send the code ${code} now.`); return false;"
//         >
//           <p>Vul de koppelcode in die in jouw IRMA-app verschijnt.</p>
//           <div class="irma-web-pairing-code">
//             <input inputmode="numeric" pattern="\d" maxlength="1" required />
//             <input inputmode="numeric" pattern="\d" maxlength="1" required />
//             <input inputmode="numeric" pattern="\d" maxlength="1" required />
//             <input inputmode="numeric" pattern="\d" maxlength="1" required />
//           </div>
//           <button id="irma-web-pairing-submit" type="submit">
//             Volgende
//           </button>
//           <p><a>Annuleer</a></p>
//           <script type="application/javascript">
//             let inputFields = document.querySelectorAll('#pairing-form-states-example input');
//             inputFields.forEach(field => {
//               field.onkeydown = (event) => {
//                 field.prevValue = field.value;
//                 if (event.key != 'Enter') field.value = '';
//               };
//               field.onkeyup = (event) => {
//                 let prevField = field.previousElementSibling;
//                 if (prevField && field.value === field.prevValue && event.key == 'Backspace') {
//                   prevField.value = '';
//                   prevField.focus();
//                 }
//                 let fn = field.form.querySelectorAll('input:invalid').length == 0 ? 'add' : 'remove';
//                 field.form.querySelector('#irma-web-pairing-submit').classList[fn]('irma-web-pairing-submit-valid');
//               };
//               field.oninput = () => {
//                 let nextField = field.nextElementSibling;
//                 if (nextField && field.value) nextField.focus()
//               };
//             });
//           </script>
//         </form>
//       </section>
//     </section>
//   </section>
// </section>
//
// Styleguide Examples.States.Pairing

// State 5: Code scanned, continue on phone
//
// Weight: 5
//
// Markup:
// <section class="irma-web-center-child" style="/** Parent styles **/ width: 100%; height: 700px; border: 2px solid red;">
//   <section class="irma-web-form">
//     <header class="irma-web-header">
//       <p>Ga verder met <i class="irma-web-logo">IRMA</i></p>
//       <section class="irma-web-helper">
//         <p>Kom je er niet uit? Kijk dan eerst eens op <a href="https://irma.app/">de website van IRMA</a>.</p>
//       </section>
//     </header>
//     <section class="irma-web-content">
//       <section class="irma-web-centered">
//         <div class="irma-web-waiting-for-user-animation"></div>
//         <p>Volg de instructies in de IRMA app</p>
//       </section>
//     </section>
//   </section>
// </section>
//
// Styleguide Examples.States.Code scanned, continue on phone

// State 6: Disclosure cancelled
//
// Weight: 6
//
// Markup:
// <section class="irma-web-center-child" style="/** Parent styles **/ width: 100%; height: 700px; border: 2px solid red;">
//   <section class="irma-web-form">
//     <header class="irma-web-header">
//       <p>Ga verder met <i class="irma-web-logo">IRMA</i></p>
//       <section class="irma-web-helper">
//         <p>Kom je er niet uit? Kijk dan eerst eens op <a href="https://irma.app/">de website van IRMA</a>.</p>
//       </section>
//     </header>
//     <section class="irma-web-content">
//       <section class="irma-web-centered">
//         <div class="irma-web-forbidden-animation"></div>
//         <p>We hebben de attributen niet ontvangen. Het spijt ons, maar dan kunnen we je niet inloggen</p>
//         <p><a href="#">Opnieuw proberen</a></p>
//       </section>
//     </section>
//   </section>
// </section>
//
// Styleguide Examples.States.Disclosure cancelled

// State 7: Disclosure timed out
//
// Weight: 7
//
// Markup:
// <section class="irma-web-center-child" style="/** Parent styles **/ width: 100%; height: 700px; border: 2px solid red;">
//   <section class="irma-web-form">
//     <header class="irma-web-header">
//       <p>Ga verder met <i class="irma-web-logo">IRMA</i></p>
//       <section class="irma-web-helper">
//         <p>Kom je er niet uit? Kijk dan eerst eens op <a href="https://irma.app/">de website van IRMA</a>.</p>
//       </section>
//     </header>
//     <section class="irma-web-content">
//       <section class="irma-web-centered">
//         <div class="irma-web-clock-animation"></div>
//         <p>Sorry! We hebben te lang<br/>niks van je gehoord</p>
//         <p><a href="#">Opnieuw proberen</a></p>
//       </section>
//     </section>
//   </section>
// </section>
//
// Styleguide Examples.States.Disclosure timed out

// State 8: Disclosure errored
//
// Weight: 8
//
// Markup:
// <section class="irma-web-center-child" style="/** Parent styles **/ width: 100%; height: 700px; border: 2px solid red;">
//   <section class="irma-web-form">
//     <header class="irma-web-header">
//       <p>Ga verder met <i class="irma-web-logo">IRMA</i></p>
//       <section class="irma-web-helper">
//         <p>Kom je er niet uit? Kijk dan eerst eens op <a href="https://irma.app/">de website van IRMA</a>.</p>
//       </section>
//     </header>
//     <section class="irma-web-content">
//       <section class="irma-web-centered">
//         <div class="irma-web-forbidden-animation"></div>
//         <p>Sorry! Er is een fout opgetreden</p>
//         <p><a href="#">Opnieuw proberen</a></p>
//       </section>
//     </section>
//   </section>
// </section>
//
// Styleguide Examples.States.Disclosure errored

// State 9: Browser is not supported
//
// Weight: 9
//
// Markup:
// <section class="irma-web-center-child" style="/** Parent styles **/ width: 100%; height: 700px; border: 2px solid red;">
//   <section class="irma-web-form">
//     <header class="irma-web-header">
//       <p>Ga verder met <i class="irma-web-logo">IRMA</i></p>
//       <section class="irma-web-helper">
//         <p>Kom je er niet uit? Kijk dan eerst eens op <a href="https://irma.app/">de website van IRMA</a>.</p>
//       </section>
//     </header>
//     <section class="irma-web-content">
//       <section class="irma-web-centered">
//         <div class="irma-web-forbidden-animation"></div>
//         <p>Het spijt ons, maar je browser voldoet niet aan de minimale eisen</p>
//       </section>
//     </section>
//   </section>
// </section>
//
// Styleguide Examples.States.Browser is not supported

// State 10: Success
//
// Weight: 10
//
// Markup:
// <section class="irma-web-center-child" style="/** Parent styles **/ width: 100%; height: 700px; border: 2px solid red;">
//   <section class="irma-web-form">
//     <header class="irma-web-header">
//       <p>Ga verder met <i class="irma-web-logo">IRMA</i></p>
//       <section class="irma-web-helper">
//         <p>Kom je er niet uit? Kijk dan eerst eens op <a href="https://irma.app/">de website van IRMA</a>.</p>
//       </section>
//     </header>
//     <section class="irma-web-content">
//       <section class="irma-web-centered">
//         <div class="irma-web-checkmark-animation"></div>
//         <p>Gelukt!</p>
//       </section>
//     </section>
//   </section>
// </section>
//
// Styleguide Examples.States.Success
