// Center
//
// Center the content in its parent. Both vertically and horizontally.
//
// Markup:
// <section class="irma-web-center-child" style="/** Parent styles **/ width: 100%; height: 500px; border: 2px solid red;">
//   <section style="width: 300px; height: 300px; background-color: blue"></section>
// </section>
//
// Styleguide Layouts.Center

@import '../mixins/reset',
        '../mixins/center';

.irma-web-center-child {
  @include reset;

  width: 100%;
  height: 100%;

  @include center;
}
