// Colours
//
// Styleguide Variables.colours

// Colours from the Yivi app
//
// $yivi-blue        - #363e6a; New Yivi blue
// $yivi-link-blue   - #0000ee; Yivi link blue
// $yivi-green       - #2bc194; Yivi green
// $yivi-light-blue  - #00b1e6; (Old) Yivi blue
// $yivi-red         - #d44454; Yivi red
// $yivi-yellow      - #ffbb58; Yivi yellow
// $yivi-grey        - #e8e8e8; Yivi grey
//
// Weight: 1
//
// Styleguide Variables.colours.app

$yivi-blue: #363e6a;
$yivi-link-blue: #0000ee;
$yivi-green: #2bc194;
$yivi-light-blue: #00b1e6;
$yivi-red: #d44454;
$yivi-yellow: #ffbb58;
$yivi-grey: #e8e8e8;

// Colours for interface elements
//
// $border-color     - #ffffff; For a border around the whole element
// $background-color - #e8e8e8; For the background
// $helper-color     - #e8e8e8; For the helper background
// $content-bg-color - #ffffff; For background of the actual content
// $button-color     - #363e6a; For the background of the buttons
//
// Weight: 1
//
// Styleguide Variables.colours.app

// From out to in:
$border-color: white;
$background-color: $yivi-grey;
$helper-color: $yivi-grey;
$content-bg-color: white;
$button-color: $yivi-blue;

// Text colours
//
// For the fonts
//
// $header-text-color        - #363e6a; For the header text
// $content-text-color       - #363e6a; For the content text
// $content-link-color       - #0000ee; For links in the content
// $content-link-color-hover - #363e6a; For the hover state on links in the content
// $button-text-color        - #ffffff; For the button foreground text
//
// Weight: 2
//
// Styleguide Variables.colours.text

$header-text-color: $yivi-blue;
$content-text-color: $yivi-blue;
$content-link-color: $yivi-link-blue;
$content-link-color-hover: $yivi-blue;
$button-text-color: white;
