// Fonts
//
// We use Roboto as default font, with Tahoma and Arial as fall-back options.
// As Roboto is a custom font, it is only used if it is imported by the website explicitly.
//
// Styleguide Variables.fonts

$default-font: 'Roboto', Tahoma, Arial, sans-serif;
$default-font-size: 14px;
