// Sizes
//
// These variables contain the dimensions of different aspects of the
// components. See source file for definitions.
//
// Styleguide Variables.sizes

$border-radius: 10px;
$button-border-radius: 40px;
$qr-code-size: 256px;
