// IRMA logo
//
// Change an element into the IRMA logo
//
// Markup:
// <div class="irma-web-logo" style="width: 70px; height: 60px;"></div>
// <i class="irma-web-logo" style="width: 70px; height: 60px;"></i><br/>
// <i class="irma-web-logo" style="width: 200px; height: 160px;"></i>
//
// Styleguide Components.IRMA logo

@import '../mixins/reset',
        '../mixins/svg-url',
        '../variables/svg-images';

.irma-web-logo {
  @include reset;
  display: inline-block;

  vertical-align: middle;
  background-image: svg-url($svg-image-irma-logo);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
  color: transparent;
}
