// This is the font path as perceived by an external package depending on this package.
// It gets overwritten in stylesheets/styleguide.scss so we have a valid path for the styleguide.
$font-path: '~irma-css/dist/fonts/' !default;

@mixin font-face($font-family, $font-file-name, $font-weight, $font-style: normal) {
  @font-face {
    font-family: $font-family;
    src: url(#{$font-path}#{$font-file-name}.woff2) format('woff2');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

@include font-face('Roboto', 'roboto/Roboto-Light',  300);
@include font-face('Roboto', 'roboto/Roboto-Medium', 500);
