// Waiting for user
//
// An animation to show while we wait for the user to disclose credentials from
// their mobile phone
//
// Markup:
// <div class="irma-web-waiting-for-user-animation"></div>
//
// Styleguide Animations.Waiting for user

@import '../mixins/reset',
        '../mixins/animation',
        '../variables/colours';

.irma-web-waiting-for-user-animation {
  @include reset;
  display: inline-block;
  width: 23px;
  height: 39px;
  position: relative;

  background-color: $irma-light-blue;
  border-radius: 2px;

  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    background-color: $content-bg-color;
  }

  &:before {
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 8px;
    border-radius: 1px;
  }

  &:after {
    width: 4px;
    height: 4px;
    left: 50%;
    bottom: 2px;
    margin-left: -2px;
    border-radius: 50%;
  }

  @include animation(waiting-for-user-animation 2s infinite ease-in-out);

  @include keyframes(waiting-for-user-animation) {
    0%, 100% {
      -webkit-transform: scale3D(1.1, 1.1, 1);
              transform: scale3D(1.1, 1.1, 1);
    } 50% {
      -webkit-transform: scale3D(0.9, 0.9, 1);
              transform: scale3D(0.9, 0.9, 1);
    }
  }

}
