// reset($children-too: false)
//
// A mixin that resets margin, padding and box-sizing to reliable defaults on the given element (and optionally all its children).
//
// ```css
// .complicated-element {
//   @include reset;
// }
// ```
//
// $children-too - Apply the reset to all the element's children too. Defaults to false. Only use this option if you are sure that no unknown components can ever be a child of your element.
//
// Styleguide Mixins.reset

@mixin _reset {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

@mixin reset($children-too: false) {
      @include _reset;
  @if ( $children-too ) {
    * { @include _reset; }
  }
}
